@import "compass/css3";
@import "compass/utilities";

/* 
 * Definition
 */
$color: (
  default-black: #333,
  gray: #7d7d7d,
  pink: rgb(237, 172, 172),
  water-blue: aliceblue,
  dark-blue: #2c3460,
  green: cadetblue,
  yellow: rgba(255, 251, 211, 0.95),
  light-gray: rgba(158, 158, 158, 0.7),
);

$default-black: #333;
$font-size-title: .9em;
$font-size-text: .8em;
$td-max-width: 5em;

$main-color: map-get($color, pink);
$calendar-title-color: map-get($color, water-blue);
$description-bg-color: map-get($color, yellow);
$text-des-bold-color: map-get($color, green);
$text-des-color: map-get($color, gray);

@mixin color-layout($main-color, $calendar-title-color, $description-bg-color, $text-des-bold-color, $text-des-color) {
  .calendar-week-name {
    background-color: $main-color;
  }
  .calendar-cell-title {
    background-color: $calendar-title-color;
    color: $text-des-color;
  }

  .calendar-content-tag {
    &:before {
      background-color: $main-color;
    }
  }
  .calendar-content-tag-hover {
    border: solid 1px $main-color;
  }
}

@mixin scrollbars($size, $foreground-color, $background-color: mix($foreground-color, white, 50%)) {
  &::-webkit-scrollbar {
    width: 0px;
    height: $size;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    @include border-radius(2px);
    @include box-shadow(inset 0 0 6px rgba(0,0,0,0.3)); 
    background: $foreground-color; 
  }
  &::-webkit-scrollbar-thumb:window-inactive {
    background: mix($foreground-color, white, 50%); 
  }
  
  &::-webkit-scrollbar-track {
    @include box-shadow(inset 0 0 6px $background-color); 
    @include border-radius(2px);
  }
  
}

/* 
 * maekdown-it-calendar
 */
.markdown-it-calendar {
  > .calendar {
    display: table;

    > tbody > tr {
      > td {
        border-top: none;
        max-width: $td-max-width;
      }
    }
  }
  
  .calendar-time {
    font-weight: bold;
    font-size: 1.4em;
    padding: .5em;
    letter-spacing: 2px;
    font-family: sans-serif;
    background-color: #5e5e5e;
    color: white;
  }

  .calendar-year {
    font-weight: 100;
    margin-left: 2%;
    letter-spacing: 0px;
  }

  .calendar-cell-title {
    background-color: $calendar-title-color;
    text-align: center;
    font-size: $font-size-title;
    padding: 3px;
    color: $text-des-color;

    word-wrap: normal;
    overflow-x: auto;
    overflow-y: hidden;
    text-overflow: ellipsis;

    &:hover, &:focus{
      cursor: default;
      text-decoration: none;
      ~ .calendar-overview{
        display: block !important;
      }
    }
  }

  .calendar-cell{
    &:hover{
      background-color: #f5f5f5;
    }

    &:nth-child(5), &:nth-child(6), &:nth-child(7) {

      .calendar-overview {
        left: 0%;
        transform: translate(-95%, 10px);

        &:after {
          left: 100%;
          border-width: 6px 8px;
          border-color: transparent transparent transparent rgba(158,158,158,.8);
          transform: translate(0% ,23px);
        }
      }

      .calendar-content-tag-hover {
        left: 0%;
        transform: translate(-95%, -50%);
      }
    }

    &:first-child, &:last-child {
      .calendar-content-tag-hover {
        max-width: 4.5 * $td-max-width;
      }
    }

    &:nth-child(2), &:nth-child(6) {
      .calendar-content-tag-hover {
        max-width: 3.5 * $td-max-width;
      }
    }

    &:nth-child(3), &:nth-child(5) {
      .calendar-content-tag-hover {
        max-width: 3 * $td-max-width;
      }
    }

    &:nth-child(4){
      .calendar-content-tag-hover {
        max-width: 2.5 * $td-max-width;
      }
    }
  }

  .calendar-week-name {
    background-color: $main-color;
    text-align: center;
    color: white;
  }

  .calendar-cell-date { 
    position: relative;
    left: -2px;
    top: -4px;
    margin-bottom: 0px;

    font-size: $font-size-text;
    font-weight: 200;
  }


  .calendar-content-tag {
    position: relative;
    color: $default-black;
    padding-left: 1em;

    &:before {
      position: absolute;
      content: '';
      left: 0px;
      top: 4px;
      background-color: $main-color;
      width: 6px;
      height: 6px;
    }

    > p {
      margin-bottom: .3em;
    }


    + a{
      padding-left: 1em;
    }

    &:hover {
      color: $main-color;
      .calendar-content-tag-hover {
        color: $default-black;
        display: inline-block;
        white-space: nowrap;
        overflow: scroll;
      }
    }
  }

  .calendar-content-tag-hover {
    @include scrollbars(.3em, rgba(94, 94, 94, 0.3), transparent);

    display: none;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.9);
    border: solid 1px $main-color;
    padding: .3em;
    left: 95%;
    top: 50%;
    transform: translate(0%,-50%);
    z-index: 90;

    > span {
      color: $text-des-bold-color;
      font-weight: bold;
    }
  }

  .calendar-content {
    font-size: $font-size-text;
  }
  
  .calendar-overview {
    display: none;
    position: absolute;
    padding: .8em .5em .3em .3em;
    background-color: $description-bg-color;
    box-shadow: 0px 0px 10px -2px map-get($color, gray);
    color: $text-des-color;
    top: 0px;
    left: 100%;
    width: 150%;
    transform: translate(-5%, 10px);
    z-index: 100;

    &:hover {
      display: block;
    }

    &:after {
      content: '';
      position: absolute;
      width: 0px;
      height: 0px;
      left: 100%;
      border-width: 6px 8px;
      border-style: solid;
      border-color: transparent rgba(158,158,158,.8) transparent transparent;
      top: 0%;
      left: 0%;
      transform: translate(-100%,23px)
    }

    p {
      font-size: $font-size-text;
      padding-left: .5em;
      margin-bottom: .7em;
    }

    .calendar-overview-title {
      font-size: 1em;
      padding-left: 0em;
      margin-bottom: 1em;
    }

    .calendar-overview-tag {
      font-weight: bold;
      font-size: $font-size-title + .1em;
      color: $text-des-bold-color;
    }

    .calendar-overview-date {
      text-align: right;
      font-size: .7em;
      font-style: italic;
      padding-top: .5em;
      margin-bottom: .3em;
      opacity: .5;
    }
  }

  .calendar-overview-title {
    text-align: center;
    letter-spacing: 4px;
    border-bottom: solid 1px;
    margin:0px 0px 1.2em 0px;
    padding-bottom: 2px;
    width: 80%;
    transform: translateX(10%);
  }

  table tr{
    background-color: white !important;
  }

  table th {
    border-bottom: none;
  }

  table tr {
    &:first-child {
      border-bottom: none;
    }
    &:nth-child(2) {
      border-top: none;
    }
  }

  table td {
    border: none;
    position: relative;
  }

  tbody {
    border: solid 2px rgba(204, 204, 204, 0.3) !important;
  }
  
  &.dark {
    $main-color: map-get($color, default-black);
    $calendar-title-color: map-get($color, light-gray);
    $text-des-color: white;

    @include color-layout($main-color, $calendar-title-color, $description-bg-color, $text-des-bold-color, $text-des-color);

    tbody{
      border:solid 2px map-get($color, dark-blue) !important;
    }
    .calendar-time{
      background-color: map-get($color, dark-blue);
    }
  }
}